<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734223310633-de94n56eba59foe1k8ph1pofjmfertjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734223310633-de94n56eba59foe1k8ph1pofjmfertjt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>734223310633-nhjglv5a8906qlmvrnq2is730fdp0991.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYJYfKVboQnxH15113EUa7eE_K_0gMZg8</string>
	<key>GCM_SENDER_ID</key>
	<string>734223310633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cleancityworker.app</string>
	<key>PROJECT_ID</key>
	<string>clean-campus-78c4a</string>
	<key>STORAGE_BUCKET</key>
	<string>clean-campus-78c4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734223310633:ios:c05d565a0deacc2d6de138</string>
	<key>DATABASE_URL</key>
	<string>https://clean-campus-78c4a-default-rtdb.firebaseio.com</string>
</dict>
</plist>